extends layout 

block content 
  if (!user) 
    a(href="/login") Login 
    br 
    a(href="/register") Register 
  if (user) 
    p You are currently logged in Sucessfully.
    //- as #{user.username} 
    a(href="/jet") Take me to Jets
    br 
    a(href="/logout") Logout 